{
  "parser": "@babel/eslint-parser",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "linebreak-style": "off",
    "quotes": "off",
    "object-curly-spacing": "off"
  },
  "extends": [
    "eslint:recommended",
    "google"
  ]
}