*,
::before,
::after {
  box-sizing: border-box;
}

:root{
  --main-font-size: 28px;
}

$main-font-size: var(--main-font-size);

body {
  background-color: #efd700;
  font-family: "Roboto", sans-serif;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    h1 {
      text-align: center;
      font-size: $main-font-size;
      font-weight: bold;
    }
  }
}
